@import url("https://fonts.googleapis.com/css2?family=Terminus+(TTF):wght@500;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  background-color: #000; 
  position: relative;
  overflow: hidden; 
}

